:root {
  /* coloring system */
  --primary-clr: #485b46;
  --secondary-clr: #ccbd77;
  --accent-clr: #a14752;
  --blue-clr: #496da3;

  --blue-clr-dark: #455874;

  --primary-clr-light: #bcdfb9;
  --grayblue-clr-light: #a8b3bd;
  --blue-clr-lighter: #e4eff7;

  --clr--dark: #222;
  --clr-light: #f7f7f7;
  --grayblue-clr: #3a4452;

  /* pixels system */
  --large-size: 47px;
  --h1-size: 39px;
  --h2-size: 33px;
  --h3-size: 27px;
  --h4-size: 23px;
  --p-size: 19px;
  --small-p-size: 16px;

  /* additional */
  --std-radius: 1rem;
  --std-section-padding: 9rem 5rem 8rem 5rem;
  --std-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  scrollbar-width: thin;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: var(--h1-size);
}
h2 {
  font-size: var(--h2-size);
}
h3 {
  font-size: var(--h3-size);
}
h4 {
  font-size: var(--h4-size);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* 0. shared boxes */

body,
a {
  color: var(--grayblue-clr);
}

img {
  box-shadow: var(--std-shadow);
}

.icon,
.title,
.logo,
.logo__icon {
  color: var(--accent-clr);
}

.section__title,
.btn {
  color: var(--primary-clr);
}

.nav__item:last-child,
.contact__btn {
  background-color: var(--primary-clr);
}

.section {
  position: relative;
  padding: var(--std-section-padding);
  transition: 0.5s;
}

.section__content {
  max-width: 43rem;

  margin: 0 auto;
  margin-bottom: 10rem;
}

.section__title {
  display: inline-block;
  font-size: var(--h4-size);
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
}

.section__description {
  font-size: var(--h1-size);
  font-weight: 600;
  letter-spacing: -0.5px;
  line-height: 1.2;
}

/* 1. header -> nav */

.nav--wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.nav {
  display: flex;
  justify-content: space-between;

  background-color: #252525;

  padding: 0 1rem;
  position: relative;
  right: 0;
  left: 0;
}

.nav--sticky {
  position: fixed;
  z-index: 1;
  right: 0;
  left: 0;

  background-color: var(light);
  color: var(--grayblue-clr);
}

.nav__list {
  display: flex;
}
.nav__link,
.btn {
  display: flex;
  align-items: center;
}

.nav__link {
  transition: 0.34s;
}

.nav__link--hover:hover {
  background-color: var(--grayblue-clr);
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;

  font-size: var(--h3-size);
  letter-spacing: 2px;
  font-weight: 600;
}

.logo,
.nav__item {
  height: 55px;

  display: flex;
  align-items: center;
}

.nav__item {
  height: 100%;
}

.nav__link {
  height: 100%;
  padding: 0 30px;

  color: var(--clr-light);
}

/* 1. nav -> dropdown */

.nav__item {
  position: relative;
}

.dropdown {
  display: none;

  position: absolute;
  right: 0;
  top: 100%;

  border-bottom-left-radius: var(--std-radius);
  border-bottom-right-radius: var(--std-radius);
  box-shadow: var(--std-shadow);
}

.dropdown__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: 1s;
}

.dropdown__list.display__dropdown {
  display: block;
}

.dropdown__item {
  height: 40px;
  width: 350px;

  transition: 0.34s;
}

.dropdown__item:last-child {
  border-bottom-left-radius: var(--std-radius);
  border-bottom-right-radius: var(--std-radius);
}

.dropdown__item:hover {
  background-color: var(--grayblue-clr-light);
  color: var(--clr-light);
}

.dropdown__link {
  font-size: var(--small-p-size);

  padding: 0 1rem;
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  /* color: var(--clr-light); */
}

.dropdown--contact {
  /* display: none; */
  background-color: var(--clr-light);
}

.dropdown--about {
  /* display: none; */
  background-color: var(--clr-light);
}

/* 2. header -> hero */

.hero {
  min-height: 100vh;

  background-color: rgb(230, 233, 237);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  padding: var(--std-section-padding);
}

.hero__content {
  max-width: 800px;
  border-left: 5px solid var(--grayblue-clr);
  padding-left: 4rem;
  padding-bottom: 4rem;
}

.hero__content::before {
  content: "LOREM";

  font-size: 8rem;
  color: var(--accent-clr);

  position: relative;
  top: 0;
  left: -2rem;
}

.hero__title {
  font-size: var(--h2-size);
  letter-spacing: -1px;
  margin-bottom: 1rem;
  font-weight: 600;

  line-height: 1.1;
}

.hero__description {
  font-size: var(--h4-size);
  font-weight: 500;
  margin-bottom: 3rem;

  line-height: 1.4;
}

.hero__img {
  width: 350px;
  height: 500px;

  border-radius: var(--std-radius);
}

.hero__read-more {
  font-size: var(--p-size);
  text-decoration: underline;
  color: var(--accent-clr);
}

/* 3. services */

#section--1 {
  background-color: var(--grayblue-clr);
  color: var(--clr-light);
}

#section--1 .section__title {
  color: var(--primary-clr-light);
}

.services {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.services__img {
  width: 100%;
}

.lazy {
  filter: blur(10px);
}

.services__text {
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon {
  margin-bottom: 10px;
  font-size: var(--h3-size);
  position: relative;
  left: -1rem;
}

.services__title {
  font-size: var(--h2-size);
  margin-bottom: 1rem;
}

.services__description {
  font-size: var(--p-size);
  line-height: 1.3;
}

/* 4. qualification */

#section--3 {
  background-color: rgb(218, 218, 244);
}

.qualification {
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

/* will be carried in js */
.qualification__wrapper {
  width: 800px;
  height: 350px;
  margin: 0 auto;

  position: relative;
  background-color: var(--blue-clr-lighter);
  border-radius: var(--std-radius);
  box-shadow: var(--std-shadow);
}

.qualification.qualification__slider {
  position: relative;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.qualification__item.qualification--slide {
  justify-self: center;

  position: absolute;
  top: 50%;
  /* left: 50%; */

  transform: translateX(-50%);
  transform: translateY(-50%);
}

.qualification--slide.hidden {
  display: none;
}

.qualification__btns {
  justify-self: center;
  position: absolute;
  top: -7%;

  display: flex;
}

.qualification--slider-btn {
  margin: 0 2rem;
  transition: transform 0.34s;

  background-color: var(--blue-clr);
  color: var(--clr-light);
  padding: 1rem 5rem;
  border: 0;

  border-radius: var(--std-radius);
  font-weight: 400;
  font-size: var(--h4-size);
  cursor: pointer;
  box-shadow: var(--std-shadow);
}

.qualification--slider-btn.clicked--slide {
  transform: translateY(-20%);
  background-color: var(--blue-clr-dark);
  color: var(--grayblue-clr-light);
}

/* up to this point */

.qualification__item {
  max-width: 700px;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.qualification__item:last-child {
  justify-self: center;
  grid-column-start: 1;
  grid-column-end: 3;
}

.qualification__title {
  color: var(--accent-clr);
  font-size: var(--h2-size);
  font-weight: 600;

  margin-bottom: 10px;
}

.qualification__description {
  text-align: center;
  line-height: 1.5;
  font-size: var(--p-size);
  /* padding: 0 2rem; */
}

/* .qualification__description.slide--description {
  font-size: var(--h3-size);
} */

/* 5. numbers */

.numbers {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.numbers__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
}

.numbers__count {
  font-weight: 400;
  margin-bottom: 10px;
  font-size: var(--large-size);
}

.numbers__title {
  color: var(--accent-clr);
  margin-bottom: 1rem;
  font-size: var(--h2-size);
  font-weight: 500;
}

.numbers__description {
  text-align: center;
  font-size: var(--p-size);
  line-height: 1.5;
}

/* 6. contact  */

#section--4 {
  background-color: #e9ecf2;
}

.contact {
  width: 100%;
  display: flex;
  justify-content: center;
}

.contact__btn {
  color: var(--clr-light);
  font-size: var(--h3-size);
  font-weight: 500;
  border: 0;
  border-radius: var(--std-radius);
  padding: 1rem 6rem;
  box-shadow: var(--std-shadow);
  cursor: pointer;
}

.center--description {
  text-align: center;
  margin-bottom: 0;
}

.section__content--special {
  margin-bottom: 3rem;
}

/* 7. footer  */

.footer {
  background-color: var(--grayblue-clr);
  padding: 7rem 3rem 5rem 3rem;

  transition: 0.5s;
}

.footer__items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__item {
  height: 50px;
  display: flex;
  align-items: center;
  margin: 0 2rem;
  margin-bottom: 2rem;
}

.footer-item:last-child {
  margin-right: 0;
}

.footer__link {
  color: var(--clr-light);
  font-size: var(--p-size);
  font-weight: 500;
}

.copyright {
  text-align: center;
  color: var(--grayblue-clr-light);
  font-size: var(--small-p-size);
}

.author {
  color: var(--clr-light);
  text-decoration: underline;
  font-weight: 500;
}

/* 8. section__push--down */
.section__push--down {
  opacity: 0;

  transform: translateY(15rem);
}

/* responsiveness */

@media (max-width: 1050px) {
  .hero {
    flex-direction: column;
  }

  .hero__img {
    object-position: center;
    object-fit: cover;
    width: 100%;
    order: 1;
  }
  .hero__content {
    order: 2;
  }

  .qualification__wrapper {
    width: auto;
    height: 300px;
    /* margin: 0 auto;

    position: relative;
    background-color: var(--blue-clr-lighter);
    border-radius: var(--std-radius);
    box-shadow: var(--std-shadow); */
  }

  /* .qualification__btns {
    justify-self: center;
    position: absolute;
    top: -7%;

    display: flex;
  } */
}

@media (max-width: 950px) {
  .qualification--slider-btn {
    margin: 0 1rem;

    padding-left: 4rem;
    padding-right: 4rem;
  }

  .qualification__title {
    font-size: var(--h2-size);
    font-weight: 600;

    margin-bottom: 10px;
  }

  .qualification__description {
    line-height: 1.5;
    font-size: var(--p-size);
  }
}

@media (max-width: 900px) {
  .services {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 800px) {
  .qualification--slider-btn {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (max-width: 670px) {
  .section {
    --std-section-padding: 6rem 4rem 5rem 3rem;
  }

  .qualification__wrapper {
    height: 250px;
  }

  .qualification--slider-btn {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .qualification__title {
    font-size: var(--h3-size);
    font-weight: 500;

    margin-bottom: 7px;
  }

  .qualification__description {
    line-height: 1.2;
    font-size: var(--small-p-size);
  }
}

@media (max-width: 530px) {
  .qualification--slider-btn {
    margin: 0 0.5rem;

    padding: 1rem 1.5;
  }
  /* 
  .qualification__title {
    font-size: var(--h3-size);
    font-weight: 500;

    margin-bottom: 7px;
  }

  .qualification__description {
    line-height: 1.2;
    font-size: var(--small-p-size);
  } */
}

@media (max-width: 500px) {
  .qualification--slider-btn {
    font-size: var(--p-size);
    /* margin: 0 0.5rem;

    padding: 1rem 1.5; */
  }
  .qualification__wrapper {
    height: 200px;
  }
}

@media (max-width: 450px) {
  .qualification--slider-btn {
    font-size: var(--small-p-size);
    padding: 0.6rem 1.3rem;
  }

  .qualification__wrapper {
    padding: 15px;
    height: 190px;
  }

  .qualification__title {
    font-size: 18px;

    margin-bottom: 5px;
  }

  .qualification__description {
    line-height: 1;
    /* font-size: 8px; */
  }
}

@media (max-width: 390px) {
  .qualification--slider-btn {
    margin: 0 0.3rem;
    padding: 0.5rem 1.1rem;
  }
}
