:root {
  --primary-clr: #2c9068;
  --secondary-clr: #447bc4;

  --clr--dark: #222;
  --clr-light: #f7f7f7;
  --text-clr: #3a4753;

  --h1-size: 39px;
  --h2-size: 33px;
  --h3-size: 27px;
  --h4-size: 23px;
  --p-size: 19px;
  --small-p-size: 16px;

  --std-radius: 1rem;
  --std-section-padding: 9rem 5rem 8rem 5rem;
  --border-bottom-light: 1px solid rgb(213, 213, 213);
  --border-bottom-dark: 1px solid rgb(44, 44, 44);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--text-clr);
}

h1 {
  font-size: var(--h1-size);
}
h2 {
  font-size: var(--h2-size);
}
h3 {
  font-size: var(--h3-size);
}
h4 {
  font-size: var(--h4-size);
}

a {
  color: var(--text-clr);
  text-decoration: none;
}

/* 0. shared boxes */
.section,
.header {
  border-bottom: var(--border-bottom-light);
}

.section {
  padding: var(--std-section-padding);
}

.section__content {
  max-width: 55rem;

  margin: 0 auto;
  margin-bottom: 10rem;
}

.section__title {
  display: inline-block;
  font-size: var(--h4-size);
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;

  color: var(--primary-clr);
}

.section__description {
  font-size: var(--h1-size);
  font-weight: 600;
  letter-spacing: -0.5px;
  line-height: 1.2;
}

/* 1. header -> nav */

.nav {
  display: flex;
  justify-content: space-between;

  padding: 0 10rem;
  background-color: #252525;

  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.nav__list {
  display: flex;
}
.nav__link {
  display: flex;
  align-items: center;
}

.nav__item:last-child {
  background-color: var(--primary-clr);
}

.logo {
  color: var(--secondary-clr);
  display: flex;
  align-items: center;
  gap: 10px;

  font-size: var(--h3-size);
  letter-spacing: 2px;
  font-weight: 600;
}

.logo__icon {
  color: var(--primary-clr);
}

.logo,
.nav__item {
  height: 55px;

  display: flex;
  align-items: center;
}

.nav__item a {
  height: 100%;
  padding: 0 30px;
}

.nav__link {
  color: var(--clr-light);
}

/* 2. header -> hero */

.hero {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  padding: var(--std-section-padding);
}

.hero__content {
  max-width: 800px;
}

.hero__title {
  font-size: var(--h2-size);
  letter-spacing: -1px;
  margin-bottom: 1rem;
  font-weight: 600;

  line-height: 1.1;
}

.hero__description {
  font-size: var(--h4-size);
  font-weight: 500;
  margin-bottom: 3rem;

  line-height: 1.4;
}

.hero__img {
  width: 350px;
  height: 500px;

  border-radius: var(--std-radius);
}

.hero__read-more {
  font-size: var(--p-size);
  text-decoration: underline;
  color: var(--primary-clr);
}

/* 3. services */

.services {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.services > img {
  width: 100%;
  filter: blur(10px);
}

.services__text {
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon {
  color: var(--secondary-clr);
  margin-bottom: 10px;
  font-size: var(--h3-size);
  position: relative;
  left: -1rem;
}

.services__title {
  font-size: var(--h2-size);
  margin-bottom: 1rem;
}

.services__description {
  font-size: var(--p-size);
  line-height: 1.3;
}

/* 4. qualification */

.qualification {
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.qualification__item {
  max-width: 700px;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.qualification__item:last-child {
  justify-self: center;
  grid-column-start: 1;
  grid-column-end: 3;
}

.qualification__title {
  color: var(--secondary-clr);
  font-size: var(--h2-size);
  font-weight: 600;

  margin-bottom: 10px;
}

.qualification__description {
  text-align: center;
  line-height: 1.5;
}

/* 5. numbers */

.numbers {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.numbers__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.numbers__count {
  font-weight: 400;
  margin-bottom: 10px;
}

.numbers__title {
  color: var(--secondary-clr);
  margin-bottom: 1rem;
  font-size: var(--h2-size);
  font-weight: 500;
}

.numbers__description {
  text-align: center;
  font-size: var(--p-size);
  line-height: 1.5;
}
